POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_DB=mlflow

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
MLFLOW_S3_ENDPOINT_URL_INTERNAL=http://minio:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

HF_TOKEN=<your HuggingFace token>
